version: "3"

vars:
  GITHUB_TOKEN:
    sh: gh auth token 

tasks:
  trigger-workflow:
    desc: Trigger GitHub Actions workflow to run tests
    cmds:
      - |
        act workflow_dispatch \
        --container-architecture linux/amd64 \
        -s GITHUB_TOKEN={{.GITHUB_TOKEN}} \
        -e {{.PWD}}/event.json \
        -P ubuntu-24.04=catthehacker/ubuntu:act-22.04 \
        --directory ../../.. \
        -W .github/workflows/build-push-dockerhub.yaml