apiVersion: batch/v1
kind: Job
metadata: 
  name: db-migration
  namespace: {{ .Values.postgres.namespace }}
spec:
  backoffLimit: 5
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: migration
          image: {{ .Values.postgres.migration_image }}
          command: ["/bin/sh", "-c"]
          args:
            - migrate -path=/app/migrations \
              -database=postgresql://{{ .Values.postgres.user }}:{{ .Values.postgres.password }}@postgres-service.{{ .Values.postgres.namespace }}.svc.cluster.local:5432/{{ .Values.postgres.database }}?sslmode=disable \
              up
