apiVersion: batch/v1
kind: Job
metadata:
  name: db-migration
  namespace: {{ .Values.postgres.namespace }}
spec:
  backoffLimit: 5
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: migration
          image: {{ .Values.postgres.migration_image }}
          command: ["/bin/sh", "-c"]
          args:
            - |
              export FLYWAY_URL="jdbc:postgresql://postgres-service.{{ .Values.postgres.namespace }}.svc.cluster.local:5432/${POSTGRES_DB}?sslmode=disable"
              exec flyway migrate
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-db-secrets
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-db-secrets
                  key: POSTGRES_PASSWORD
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: postgres-db-secrets
                  key: POSTGRES_DB
            - name: FLYWAY_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-db-secrets
                  key: POSTGRES_USER
            - name: FLYWAY_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-db-secrets
                  key: POSTGRES_PASSWORD
