apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: {{ .Values.gateway.name }}
  namespace: {{ .Values.apps.namespace }}
spec:
  gatewayClassName: {{ .Values.gateway_class.name }}
  listeners:
    - name: http
      protocol: HTTP
      port: 80
    - name: https
      port: 443
      protocol: HTTPS
      tls:
        mode: Terminate
        certificateRefs:
        - kind: Secret
          name: tls-secret
          namespace: {{ .Values.apps.namespace }}