apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: vault-backend
spec:
  provider:
    vault:
      server: "https://vault.lefrancis.org" #"http://127.0.0.1:8200"
      path: kv/silas
      version: "v1"
      auth:
        tokenSecretRef:
          name: vault-token
          namespace: apps-namespace
          key: token