version: "3"

vars:
  CLUSTER_NAME_DEV: k8-dev-cluster
  CLUSTER_NAME_MAIN: k8-main-cluster
  IRSA_SERVICE_ACCOUNT_NAME: aws-load-balancer-controller
  IRSA_SERVICE_ACCOUNT_NAMESPACE: kube-system
  ENV: dev

tasks:
  1:install_external_secrets_for_vault:
    description: Install External Secrets Operator into cluster
    cmd:
      |
      helm repo add external-secrets https://charts.external-secrets.io

      helm upgrade --install external-secrets \
        external-secrets/external-secrets \
          -n external-secrets \
          --create-namespace \
          --set installCRDs=true

  2:cert_manager:install:
    desc: Install Cert Manager for TLS certificate configuration
    cmd: kubectl apply -f https://github.com/cert-manager/cert-manager/releases/download/v1.19.2/cert-manager.yaml

  3:install-kong-ingress-controller:
    desc: Install kong gateway api controllers for linode cluster
    cmds:
      - kubectl apply -f https://github.com/kubernetes-sigs/gateway-api/releases/latest/download/standard-install.yaml
      - |
        helm upgrade --install kong ingress \
          --repo https://charts.konghq.com \
          -n kong \
          --create-namespace \
          --version 0.12.0 \
          --set ingressController.enabled=false \
          --set gatewayController.enabled=true \
          --set proxy.type=LoadBalancer

  4:apply_irsa_for_aws_lb_ingress_controller:
    desc: Apply IRSA for AWS LB Ingress controller
    cmd: kubectl apply -f 002_aws_irsa_service_account.yaml

  5:aws-install-gateway-api-controller:
    desc: Install aws gateway api controllers for aws cluster
    cmds:
      - kubectl apply -f https://github.com/kubernetes-sigs/gateway-api/releases/latest/download/standard-install.yaml
      - helm repo add eks https://aws.github.io/eks-charts
      - |
        helm install aws-load-balancer-controller eks/aws-load-balancer-controller \
          -n {{.IRSA_SERVICE_ACCOUNT_NAMESPACE}} \
          --set clusterName={{.CLUSTER_NAME_MAIN}} \
          --set serviceAccount.create=false \
          --set serviceAccount.name={{.IRSA_SERVICE_ACCOUNT_NAME}}

# Helm
  1:apply_namespaces:
    cmds: 
      - kubectl apply -f 001_namespaces.yaml

  2:apply_vault_eso_configs_for_app:
    cmd:
        |
          helm upgrade --install vault-eso vault-eso \
          -f vault-eso/env/{{.ENV}}/values.yaml \
          -n apps-namespace \
          --create-namespace

  3:apply_helm_config_for_app:
    cmd:
        |
         helm upgrade --install  app app \
          -f app/env/{{.ENV}}/values.yaml \
          -n apps-namespace \
          --create-namespace

  4:apply_helm_config_for_db:
    cmd:
        |
         helm upgrade --install  db db \
          -f db/env/{{.ENV}}/values.yaml \
          -n postgres-namespace \
          --create-namespace

  5:apply_kong_gateway_configs_for_app:
    description: Install kong gateway ingress controller for linode cluster
    cmd:
        |
          helm upgrade --install kong-gateway-controller kong-gateway-controller \
          -f kong-gateway-controller/values.yaml \
          -n apps-namespace \
          --create-namespace

  6:apply_aws_lb_gateway_configs_for_app:
    description: Install kong gateway ingress controller for linode cluster
    cmd:
        |
          helm upgrade --install kong-gateway-controller kong-gateway-controller \
          -f kong-gateway-controller/values.yaml \
          -n apps-namespace \
          --create-namespace

  7:apply_certificate_issuer:
    cmd: kubectl apply -f 002_certificate_issuer.yaml

  8:apply_certificate:
    cmd: kubectl apply -f 003_certificate.yaml