# name: Provison AWS or Linode resources

on: 
  workflow_run:
    workflows:
      - Run unit tests
    types:
      - completed
  push:
    branches:
      - main
      - dev

jobs:
  terraform:
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      LINODE_TOKEN: ${{ secrets.LINODE_TOKEN }}
      TF_API_TOKEN: ${{ secrets.TF_API_TOKEN }}
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd
        with:
          terraform_version: "1.1.7"
          terraform_wrapper: false

      - name: Terraform Format
        run: terraform fmt -check

      # Dev (Linode)
      - name: Terraform Plan Dev
        if: github.ref_name == 'dev'
        working-directory: terraform/env/dev
        run: terraform init && terraform plan

      - name: Terraform Apply Dev
        if: github.ref_name == 'dev'
        working-directory: terraform/env/dev
        run: terraform apply -auto-approve

      # Main (AWS)
      - name: Terraform Plan Main
        if: github.ref_name == 'main'
        working-directory: terraform/env/main
        run: terraform init && terraform plan

      - name: Terraform Apply Main
        if: github.ref_name == 'main'
        working-directory: terraform/env/main
        run: terraform apply -auto-approve
