name: Update helm values

on:
    workflow_run:
        workflows:
            - Build and Push Docker Images
        types:
            - completed

jobs:
  filter-updated-directories:
    runs-on: ubuntu-24.04
    if: |
      github.event_name != 'workflow_run' ||
      github.event.workflow_run.conclusion == 'success'
    outputs:
        dir_changed: ${{ steps.filter_files.outputs.changes}}
    steps:
        - name: Checkout code
          uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.1

        - name: Filter changed files
          id: filter_files
          uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
          with:
                token: ${{ github.token || secrets.GITHUB_TOKEN }}
                filters: .github/workflows/utils/filefilter.yaml

  update-gitops:
    runs-on: ubuntu-24.04
    if: ${{ needs.filter-updated-directories.outputs.dir_changed != '[]' && needs.filter-updated-directories.outputs.dir_changed != ''}}
    needs: filter-updated-directories
    permissions:
      contents: write
    strategy:
        fail-fast: false
        matrix:
            dir_changed: ${{ fromJson(needs.filter-updated-directories.outputs.dir_changed) }}
    steps:
        - name: Checkout code
          uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.1
        
        - name: Install jq
          uses:  supplypike/setup-bin@1fafb085795af4a3f183502f3a9dffa8f7b83217
          with:
            uri: "https://github.com/jqlang/jq/releases/download/jq-1.8.1/jq-linux-amd64"
            name: "jq"
            version: "1.8.1"

        - name: Install yq
          uses:  supplypike/setup-bin@1fafb085795af4a3f183502f3a9dffa8f7b83217
          with:
            uri: "https://github.com/mikefarah/yq/releases/download/v4.50.1/yq_linux_amd64.tar.gz"
            name: "yq"
            version: v4.50.1

        - run: |
            jq --version
            yq --version

        - name: Set helm dir
          id: helm_dir
          run: |
              SERVICE_NAME=$(echo "${{ matrix.dir_changed }}" | sed 's|.*/||')
              if [[ "$SERVICE_NAME" == "postgres_db" ]]; then
                echo "JSON_DIR=helm/db/env/${GITHUB_REF_NAME}" >> $GITHUB_OUTPUT
              else
                echo "JSON_DIR=helm/app/env/${GITHUB_REF_NAME}" >> $GITHUB_OUTPUT
              fi

        - name: Update helm values for all services
          run: | 
            ENV_DIR="${{ github.ref_name }}"
            JSON_DIR="${{ steps.helm_dir.outputs.JSON_DIR }}"
            VALUES_FILE="$JSON_DIR/values.yaml"

            for file in $JSON_DIR/*.json; do
              [ -e "$file" ] || continue  # skip if no JSON files

              SERVICE=$(jq -r '.service' "$file")
              IMAGE_TAG=$(jq -r '.image_tag' "$file")

              echo "Updating $SERVICE -> $IMAGE_TAG"

              # Update Helm values using yq
              if [[ "$SERVICE" == *"fastapi"* ]]; then
              yq -i '.apps.fastapi.image = "'"$IMAGE_TAG"'"' "$VALUES_FILE"
              elif [[ "$SERVICE" == *"react-recoil"* ]]; then
              yq -i '.apps.reactRecoil.image = "'"$IMAGE_TAG"'"' "$VALUES_FILE"
              elif [[ "$SERVICE" == *"postgres_db"* ]]; then
              yq -i '.postgres.migration_image = "'"$IMAGE_TAG"'"' "$VALUES_FILE"
              else
              echo "Unknown service: $SERVICE, skipping"
              fi
            done
          
        - name: Commit and push Helm updates
          env: 
            GIT_USER: ${{ github.actor }}
            GIT_USER_EMAIL: ${{ vars.GIT_USER_EMAIL }}
          run: |
                git config user.name "$GIT_USER"
                git config user.email "$GIT_USER_EMAIL"

                git add helm/**/values.yaml

                if git diff --cached --quiet; then
                  echo "No changes to commit"
                else
                  git commit -m "Update Helm images for ${{ github.ref_name }}"
                  git push https://x-access-token:${{github.token}}@github.com/${{ github.repository }} HEAD:${{ github.ref_name }}
                fi