name: Update helm values

on:
    workflow_run:
        workflows:
            - Build and Push Dev Images to Docker Hub
            - Build and Push Main Images to AWS ECR
        types:
            - completed

jobs:
  filter-updated-directories:
    uses: ./.github/workflows/filter_updated_dir.yaml

  update-gitops:
    runs-on: ubuntu-24.04
    if: ${{ needs.filter-updated-directories.outputs.dir_changed != '[]' && needs.filter-updated-directories.outputs.dir_changed != ''}}
    needs: filter-updated-directories
    permissions:
      contents: write
    strategy:
        fail-fast: false
        matrix:
            dir_changed: ${{ fromJson(needs.filter-updated-directories.outputs.dir_changed) }}
    steps:
        - name: Checkout code
          uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.1
        
        - name: Setup jq and yq
          uses: ./.github/actions/install_jq_yp

        - name: Set helm dir
          id: helm_dir
          run: |
              SERVICE_NAME=$(echo "${{ matrix.dir_changed }}" | sed 's|.*/||')
              if [[ "$SERVICE_NAME" == "postgres_db" ]]; then
                echo "JSON_DIR=helm/db/env/${{ github.ref_name }}" >> $GITHUB_OUTPUT
              else
                echo "JSON_DIR=helm/app/env/${{ github.ref_name }}" >> $GITHUB_OUTPUT
              fi

        - name: Update helm values for all services
          id: update_helm_values
          run: | 
            ENV_DIR="${{ github.ref_name }}"
            JSON_DIR="${{ steps.helm_dir.outputs.JSON_DIR }}"
            VALUES_FILE="$JSON_DIR/values.yaml"
            
            echo $VALUES_FILE
            echo "VALUES_FILE=$VALUES_FILE" >> $GITHUB_OUTPUT

            for file in $JSON_DIR/*.json; do
              [ -e "$file" ] || continue  # skip if no JSON files

              SERVICE=$(jq -r '.service' "$file")
              IMAGE_TAG=$(jq -r '.image_tag' "$file")

              echo "Processing: $file"
              echo "Service: $SERVICE"
              echo "Image Tag: $IMAGE_TAG"

              echo "Updating $SERVICE -> $IMAGE_TAG"

              # Update Helm values using yq
              if [[ "$SERVICE" == *"fastapi"* ]]; then
                CURRENT=$(yq '.apps.fastapi.image' "$VALUES_FILE")
                echo "Current fastapi image: $CURRENT"
                yq -i '.apps.fastapi.image = "'"$IMAGE_TAG"'"' "$VALUES_FILE"
              elif [[ "$SERVICE" == *"react-recoil"* ]]; then
                CURRENT=$(yq '.apps.reactRecoil.image' "$VALUES_FILE")
                echo "Current reactRecoil image: $CURRENT"
                yq -i '.apps.reactRecoil.image = "'"$IMAGE_TAG"'"' "$VALUES_FILE"
              elif [[ "$SERVICE" == *"postgres_db"* ]]; then
                CURRENT=$(yq '.postgres.migration_image' "$VALUES_FILE")
                echo "Current postgres migration image: $CURRENT"
                yq -i '.postgres.migration_image = "'"$IMAGE_TAG"'"' "$VALUES_FILE"
              else
                echo "Unknown service: $SERVICE, skipping"
              fi
            done

            echo "Contents after update:"
            cat "$VALUES_FILE"

            echo "Git diff:"
            git diff "$VALUES_FILE"
          
        - name: Commit and push Helm updates
          env: 
            GIT_USER: ${{ github.actor }}
            GIT_USER_EMAIL: ${{ vars.GIT_USER_EMAIL }}
          run: |
                VALUES_FILE="${{ steps.update_helm_values.outputs.VALUES_FILE }}"
                git config user.name "$GIT_USER"
                git config user.email "$GIT_USER_EMAIL"

                echo "Staging changes..."
                git add "$VALUES_FILE"

                if git diff --cached --quiet; then
                  echo "No changes to commit"
                else
                  git commit -m "Update Helm images for ${{ github.ref_name }}"
                  git pull --rebase origin ${{ github.ref_name }}
                  git push https://x-access-token:${{github.token}}@github.com/${{ github.repository }} HEAD:${{ github.ref_name }}
                fi